/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}

app-sidenav { display: flex; }
mat-drawer-container { flex: 1 1 auto; }
main { 
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px; 
  }