<div>
    <h1 mat-dialog-title>Are you sure you want to delete patient?</h1>
</div>
<div>    
    <button mat-flat-button color="primary" (click)="onClick(data.caregiver)">YES</button>
    <button mat-button (click)="onNoClick()">NO</button>
</div>